.DS_Store
node_modules/
npm-debug.log*
**/*.log

.env
build
backend/node_modules/
backend/.env
client/node_modules/
client/.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

